* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s linear;
}

html {
    font-size: 65%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

::selection {
    background-color: #fff;
    color: black;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 1rem 5%;
    box-shadow: 0 8px 6px rgba(10, 10, 10, 0.452);
    z-index: 1000;
}

header a {
    font-size: 20px;
    margin: 6rem;
    padding-bottom: 0;
    color: black; 
    position: relative;  
}

nav .navbar{
    display: flex;
    align-items: center;
}
.logo {
    font-size: 2rem;
    align-items:flex-start;
    text-align: center; 
    width: 100%;
    max-width: 1200px;
}
.navbar a:hover{
    color: rgb(235, 7, 38);
}

#menu{
    font-size: 3rem;
    color: black;
    cursor: pointer;
    border-radius: 5rem;
    border: 1rem;
    padding: 3rem;
    display: none;
}
section .contener {
    width: 60rem;
    height: auto;
    position: relative;
    margin-top: 4.2cm;
}

.contener {
    display: flex;
    width: 900%;
    height: auto;
    animation: slide 10s infinite;
    
}

.contener img {
    width: 90%; /* Each image takes up one third of the container */
    height: auto;
    object-fit:cover;

}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}





@media(max-width:909px){
    html{
        font-size: 40%;
    }
    header{
        padding: 2rem;
    }
}
@media(max-width:685px){
    html{
        font-size: 10%;
    }
}
@media(max-width:557px){
    html{
        font-size: 2px;
    }
    #menu{
        display: initial;
        font-size: 40px;
       
    }
    header .navbar{
        position: absolute;
        top: 100%;left: 0;right: 0;
        background-color: #fff;
        border-top-color: 1rem solid red;
        clip-path:polygon(0 0,100% 0,100% 0, 0 0);
    }
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: 1rem solid rgba(0, 0, 0, 0.562);
        border-radius: 10%;
        border-left: 3rem solid red;

    }
    
   
}
header .navba {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/*header .navbar .active {
    clip-path: polygon(0 0,100% 0,100% 100%, 0 100%);
}*/

header .navbar.active {
    display: flex;
}